{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{%  static 'assets/bootstrap/css/bootstrap.css' %}">

<link rel="stylesheet" href="{% static 'assets/custom/css/style.css' %}">

<link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
<link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap' %}" >